<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h1>Admin Register</h1>
<form action="#" th:action = "@{/admin}" th:object="${admin}" method="post">
    <table border="1" cellpadding="10">
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}" readonly></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}" readonly></td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Login">
            </td>
        </tr>
    </table>
</form>
</body>
</html>