<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List Page</title>
</head>
<body>
<div align="center">
    <h1>Task List</h1>
    <a th:href="@{'/add/'+ ${user.email}}">Add Task</a>
    <table border="1">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Task Date</th>
                <th>Task Description</th>
                <th>Task Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${taskList}">
                <td th:text="${task.name}">Task Name</td>
                <td th:text="${task.date}">Task Date</td>
                <td th:text="${task.description}">Task Description</td>
                <td th:text="${task.task_status}">Task Status</td>
                <td>
                    <a th:href="@{'/edit/' + ${task.id}}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>